# DOCUMENT YOUR REQUIRED ENV VARIABLES HERE
# SUPER_SECRET_KEY="abc123" 

AWS_ACCESS_KEY_ID=AKIAWYERZGZ6VUIFCPOS
AWS_SECRET_ACCESS_KEY=uUgI211QdzozU12NDcvqsZtvG8qQSGcSNCppR/M0

S3_BUCKET=dippr-production
S3_DEV_BUCKET=dippr-development
