<div class='grid-container'>
  <div class='grid-x grid-margin-x grid-margin-y'>
    <% @sauces.each do |sauce| %>
      <div class='cell small-12 medium-4'>
        <h3><%= link_to "#{sauce.name} (#{sauce.brand})", "/sauces/#{sauce.slug}" %></h3>
        <%= image_tag sauce.image_url %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to "Edit Sauce", edit_sauce_path(sauce) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
